@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main class="main-content">
        <div class="breadcrumbs">
            <div class="container">
                <a asp-controller="home" asp-action="index">Home</a>
                <a asp-controller="policy" asp-action="index">Policy plans</a>
                <span>Detail</span>
            </div>
        </div>

        <div class="page">
        <div class="container">
            <div class="imgPolicy" style="position: relative; height: 200px; background-image: url('~/images/Policy.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;"></div>

            <div class="filterable-items" style="position: relative; height: 700px; ">
                <div class="insurance-item filterable-item shopping-center " style="position: absolute; left: 0px; top: 0px; ">
                    <div class="vertical-menu ">
                        <a href="">Home</a>
                        <a href="">Link1</a>
                    </div>
                </div>
                <div class="insurance-item filterable-item skyscraper" style="position: absolute; left: 585px; top: 0px;">
                    <div class="insurance-content">
                        <!-- <div class="insurance-icon"><i class="icon-heart-plus"></i></div> -->
                        <h3 class="insurance-title">Medical Insurance</h3>
                        <p>
                            Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit
                            dui lobortis justo laoreet nes phasellus luctus neque.Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.Etiam aliquam ante in mattis
                            molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet
                            nes phasellus luctus neque.Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.Etiam aliquam ante in mattis molestie. Vivamus in laoreet
                            eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.Etiam
                            aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui
                            lobortis justo laoreet nes phasellus luctus neque.Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.Etiam aliquam ante in mattis
                            molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet
                            nes phasellus luctus neque.Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.Etiam aliquam ante in mattis molestie. Vivamus in laoreet
                            eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.Etiam aliquam ante in mattis molestie. Vivamus in laoreet eros. Proin tempus velit dui lobortis justo laoreet nes phasellus luctus neque.
                        </p>
                        <a href="#" class="button">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- .page -->
    </main>

