
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Insurance_Web.Models.OrderDetail
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>

            <!-- Form Order Detail-->
            <div class="col-md-6">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Order Detail</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form role="form" method="post" asp-area="Admin" asp-controller="OrderDetail" asp-action="Edit">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>IdOrderDetail</label>
                                        <input type="text" class="form-control" readonly asp-for="Id">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>IdOrder</label>
                                        <input type="text" class="form-control" disabled asp-for="IdO">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Price</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" asp-for="Price">
                                        <div class="input-group-append">
                                            <span class="input-group-text">.000 VND</span>
                                        </div>
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>Type Payment</label>
                                        <select class="form-control" asp-for="Payment">
                                            @foreach (var typePayment in @ViewBag.typePayments)
                                            {
                                                <option>@typePayment</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Payment" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- Date dd/mm/yyyy -->
                                    <div class="form-group">
                                        <label>Date Created</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                            </div>
                                            <input type="date" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask asp-for="Created">
                                            <span asp-validation-for="Created" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Save Change</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- Form Order Detail-->

            <div class="col-md-3">

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

